<h2 class="form_title">Edit <%= resource_name.to_s.humanize %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, layout: :horizontal, label_col: "col-sm-0", control_col: "col-sm-4") do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, hide_label: true, placeholder: "Email", autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :favorite_movie, hide_label: true, placeholder: "What is your favorite movie?" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, hide_label: true, placeholder: " New Password. Leave blank if you dont want to change", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, hide_label: true, placeholder: "Password Confirmation", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password,  hide_label: true, placeholder: "Current Password", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.text_area :biography, hide_label: true, placeholder: "Tell Us about yourself" %>
  </div>

  <div class="field">
    <%= f.text_field :favorite_movie, hide_label: true, placeholder: "What is your favorite movie?" %>
  </div>

  <div class="field">
    <%= f.file_field :avatar, hide_label: true, class: "btn btn-default"%>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3 class="form_title">Cancel my account</h3>

<p class="form_title">Do you want to terminate your account?<%= button_to "Yes, Hasta la Vista.", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Unless you have you have a time machine, you will not be able to undue this. Are you sure?" }, method: :delete %></p>


