<%= bootstrap_form_for(@movie, layout: :horizontal, label_col: "col-sm-0", control_col: "col-sm-4", html: { multipart: true }) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, hide_label: true, placeholder: "Title"%>
  </div>
  <div class="filed">
    <%= f.number_field :year, hide_label: true, placeholder: "Year of release"%>
  </div>
  <div class="field">
    <%= f.text_area :description, hide_label: true, placeholder: "Description" %>
  </div>
  <div class="field">
    <%= f.text_field :movie_length, hide_label: true, placeholder: "Movie Length in Min" %>
  </div>
  <div class="field">
    <%= f.text_field :director, hide_label: true, placeholder: "Director" %>
  </div>
  <%= f.select(:genre, ["Romance", "Action", "Animated"], hide_label: true, include_blank: "Genre") %>

  <%= f.select(:grade, ['G', 'PG', 'PG13', 'R'], hide_label: true, include_blank: "MPAA Rating") %>
  <div>
    <%= f.file_field :image, hide_label: true, class: "btn btn-default", placeholder: "Select a File"%>
  </div>
  <div class="actions">
    <%= f.submit "Post Movie", class: "btn btn-default"  %>
  </div>
<% end %>
