

<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1 class="navbar_element">Science Fiction Films</h1>
    <p>Join the nerds and disguised alien community. Here we are tirelessly collaborating to make a comprehensive archive of films that achieve the union of art and science.</p>
    <p><%= link_to "I Have Found My People!", new_user_registration_path, class: "btn btn-danger btn-lg" %></p>
  </div>
<% else%>
  <div class="container-fluid">
   <div class="row">
    <%= link_to (image_tag 'spacesfr.jpg', class: 'img-responsive'), new_movie_path %>
   </div>
</div>
  </div>
<% end %>

<br/>
<div style="text-align:center;">
  <%= link_to "New Releases", "/new_releases", class: "index_urls"%> 
  <ul class="slider5" id="menu">
    <%@new_releases.each do |movie|%>
      <li class="sub">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div style="text-align:center;">
  <%= link_to "Action", "/action", class: "index_urls"%>
  <ul class="slider5" id="menu">
    <%@action_movies.each do |movie|%>
      <li class="sub">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div style="text-align:center;">
  <%= link_to "Romance", "/romance", class: "index_urls"%>
  <ul class="slider5" id="menu">
    <%@romance_movies.each do |movie|%>
      <li class="sub">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div style="text-align:center;">
  <%= link_to "Animated", "/animated", class: "index_urls"%>
  <ul class="slider5" id="menu">
    <%@animated_movies.each do |movie|%>
      <li class="sub">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script>
  $('.slider5').bxSlider({
    minSlides: 3,
    maxSlides: 5,
    slideWidth: 200,
    infiniteLoop: false
  });
</script>