
<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1 class="navbar_element">Science Fiction Films</h1>
    <p>Join the nerds and disguised alien community. Here we are tirelessly collaborating to make a comprehensive archive of films that achieve the union of art and science.</p>
    <p><%= link_to "I Have Found My People!", new_user_registration_path, class: "btn btn-danger btn-lg" %></p>
  </div>
<% else%>
<%= render 'carousel'%>
<% end %>

<br/>
<div style="text-align:center;">
  <%= link_to "New Releases", "/new_releases", class: "index_urls"%> 
  <ul class="slider5" id="menu">
    <%@new_releases.each do |movie|%>
      <li class="sub">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= render 'action_slider' %>

<%= render 'romance_slider' %>

<%= render 'animated_slider'%>

<div id="frontCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
</div>

<script>
  $('.slider5').bxSlider({
    minSlides: 3,
    maxSlides: 6,
    slideWidth: 200,
    infiniteLoop: true
  });
</script>