<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>The Latest Releases Reviewed</h1>
    <p>Find out what the people are saying about the latest film and become part of the mob.</p>
    <p><%= link_to "Sign up to write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% else%>
  <%= render 'carousel' %>
<% end %>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "New Releases", "/new_releases", class: "index_urls"%>
<ul id="menu">
  <li class="sub">
    <%@new_releases.sort_by{|t| - t.created_at.to_i}.first(4).each do |movie|%>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </div>
    <% end %>
  </li>
</ul>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Action", "/action", class: "index_urls"%>
<ul id="menu">
  <li class="sub">
    <%@action_movies.sort_by{|t| - t.created_at.to_i}.first(4).each do |movie|%>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </div>
    <% end %>
  </li>
</ul>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Romance", "/romance", class: "index_urls"%>
<ul id="menu">
  <li class="sub">
    <%@romance_movies.sort_by{|t| - t.created_at.to_i}.first(4).each do |movie|%>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </div>
    <% end %>
  </li>
</ul>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Animated", "/animated", class: "index_urls"%>
<ul id="menu">
  <li class="sub">
    <%@animated_movies.sort_by{|t| - t.created_at.to_i}.first(4).each do |movie|%>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </div>
    <% end %>
  </li>
</ul>