<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
          <%= link_to "Edit Movie", edit_movie_path(@movie), class: "btn btn-default" %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title purple"><%= @movie.title %></h1>
        <p><%= @movie.description %></p>

        <%= render "star_image" %> 

        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first?</h3>
        <% else %>
          <% @reviews.sort_by{|t| - t.created_at.to_i}.first(8).each do |review| %>
            <% @user = User.find(review.user_id)%>
            <div class="row">
              <div class="review_avatar"><%= link_to (image_tag @user.avatar.url(:thumb)), @user %></div>
              <div class="reviews review_rating">
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= review.comment %></p>
              </div>
              <% if current_user.id == @user.id %>
                <div class="review_button"><%= link_to "Change", edit_polymorphic_path([@movie ,review]), class: "btn btn-default" %></div>
                <div class="review_button"><%= link_to 'Erase It', [@movie, review], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></div>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div style="text-align:center;">
          <%= link_to "All Reviews", movie_reviews_path(@movie), class: "btn btn-default"%>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }

  });
</script>
