<h2 class="form_title">Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :horizontal, label_col: "col-sm-0", control_col: "col-sm-4") do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, hide_label: true, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", hide_label: true, placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form_title">
      <%= f.check_box :remember_me %>
    </div>
  <% end -%>
  <br>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-default" %>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
